<div class="container">

    <!--par le onkeyup =filtrage-->
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Evenement en tapant</label> 
            <input class="form-control"
                #searchTerm (keyup)="onKeyUp(searchTerm.value)"> 
            </div>
    </form>
 -->
    <!--par la fonction rechercherEvenement-->
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 "> 
            <label>Nom Evenement</label> 
            <input type="text" class="form-control"
                [(ngModel)]="nomEvenement" name="nomEvenement" class="form-control"> <button type="submit"
                (click)="rechercherEvenement()" class="btn btn-primary mb-2 ml-2">Rechercher</button> </div>
    </form>
 -->

    <!--par le pipe qui est aussi un filtage-->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 "> 
            <label>Nom Evenement en tapant</label> 
            <input #nom
                [(ngModel)]="searchTerm" name="searchTerm" class="form-control"> 
        </div>
    </form>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Theme</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evenement of evenements | searchFilter : searchTerm">
                        <td>{{ evenement.idEvenement }}</td>
                        <td>{{ evenement.nomEvenement }}</td>
                        <td>{{ evenement.prixEvenement }}</td>
                        <td>{{ evenement.dateCreation | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ evenement.theme?.nomTheme }}</td>

                        <!-- <td><a class="btn btn-danger" (click)="supprimerEvenement(evenement)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateEvenement',evenement.idEvenement]">Modifier</a></td>
               -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>