<div class="container"> 
    <div class="card shadow mb-4"> 
      <div class="card-body"> 
        <table class="table"> 
          <thead> 
            <tr> 
              <th>ID</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Date</th> 
              <th>Theme</th>
              <th>Image</th>
              <th *ngIf="authService.isAdmin()">Action</th>
              
            </tr> 
          </thead> 
          <tbody>
            <tr *ngFor="let evenement of evenements"> 
              <td>{{ evenement.idEvenement }}</td> 
              <td>{{ evenement.nomEvenement }}</td> 
              <td>{{ evenement.prixEvenement }}</td> 
              <td>{{ evenement.dateEvenement | date: 'dd/MM/yyyy' }}</td> 
              <td>{{ evenement.theme?.nomTheme }}</td>
              
              <!--/******Les lignes de codes pour stocker une images dans le file imagesEvenements*******/-->
                <!--src="{{apiurl+'/image/loadfromFS/'+evenement.idEvenement}}" -->
              <td><img class="card-img-top img-responsive" 
                  src="{{evenement.imageStr}}"
                  style = "height :50px;width:100px"> 
              </td>

              <td><a class="btn btn-danger" (click)="supprimerEvenement(evenement)" *ngIf="authService.isAdmin()">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateEvenement',evenement.idEvenement]" *ngIf="authService.isAdmin()">Modifier</a></td>
              
            </tr> 
          </tbody> 
        </table> 
      </div> 
    </div> 
  </div>
  