<div class="container">
    <div>
        <h2>Modifier un Evenement :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Evenement</label>
            <input readonly type="text" [(ngModel)]="currentEvenement.idEvenement" name="idEvenement"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Evenement</label>
            <input type="text" [(ngModel)]="currentEvenement.nomEvenement" name="nomEvenement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Evenement</label>
            <input type="number" [(ngModel)]="currentEvenement.prixEvenement" name="prixEvenement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <!-- Two-way binding using ngModel -->
            <input type="date" [ngModel]="currentEvenement.dateEvenement | date: 'yyyy-MM-dd'"
            (ngModelChange)="currentEvenement.dateEvenement = $event" 
            name="dateEvenement" 
            class="form-control">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <select class="form-control form-control-lg" id="idTheme" name="idTheme" [(ngModel)]="updateThemeId">
                <option *ngFor="let theme of themes" [value]="theme.idTheme"> {{theme.nomTheme}} </option>
            </select> 
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16"> <label class="mb-2">Image :</label> <input type="file"
            (change)="onImageUpload($event)" class="form-control"> 
        </div>

        <div class="mt-2"> 
            <button type="submit" (click)="onAddImageEvenement()" class="btn btn-success">Ajouter Image</button>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16"> <img [src]="myImage" class="card-img-top img-fluid rounded-start"
                style="width: 500px; height: 300px" /> 
        </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let img of currentEvenement.images">
                            <tr>
                                <td><img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                                        style="height :50px;width:100px">
                                </td>
                                <td style="width:20%" >
                                    <a class="btn btn-danger" (click)="supprimerImage(img)">Supprimer</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <div class="mt-2">
            <button type="submit" (click)="updateEvenement()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>