<div class="container">
    <div> 
        <h2>Ajouter un Evenement :</h2> 
    </div> 
    <form  (ngSubmit)="addEvenement()"> 
        <div hidden class="col-sm-2 col-md-2 col-lg-2"> 
            <label >ID Evenement</label> 
            <input type="text" [(ngModel)]="newEvenement.idEvenement" name="idEvenement" class="form-control"> 
        </div> <div class="col-sm-4 col-md-4 col-lg-4" > 
            <label >Nom Evenement</label> 
            <input type="text"[(ngModel)]= "newEvenement.nomEvenement" name="nomEvenement" class="form-control"> 
        </div> 
        <div class="col-sm-2 col-md-2 col-lg-2"> 
            <label >Prix Evenement</label> 
            <input type="number" [(ngModel)]= "newEvenement.prixEvenement" name="prixEvenement" class="form-control"> 
        </div> 
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <label >Date création</label> 
            <input type="date" [(ngModel)]="newEvenement.dateEvenement" name="dateEvenement" class="form-control">
 
        </div> 
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Theme</label>
            <select class="form-control form-control-lg" id="idTheme" name="idTheme" [(ngModel)]="newIdTheme">
                <option *ngFor="let theme of themes" [value]="theme.idTheme">
                    {{theme.nomTheme}}
                </option>
            </select>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)"
            name="logo" class="form-control">
        </div>
        
        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
        </div>

        <div class="mt-2"> 
            <button type="submit" class="btn btn-success">Ajouter</button>
            <div>
                <h3>{{ message }}</h3>
              </div> 
        </div> 
    </form> 
</div>